$color-menu-title: var(--cyan-1);
$color-menu-item: var(--grey-4);
$color-main-content-bg: var(--grey-1);
$color-item-active: var(--orange-1);
$group-select-bg-color: var(--grey-8);
$menu-fullwidth: 296px;
$menu-collapse-width: 154px;
$layout-transition: all 0.4s ease-in-out;
@mixin flexCustom($direct: row, $justify: space-between, $gap: 0px) {
	display: flex;
	flex-direction: $direct;
	justify-content: $justify;
	align-items: center;
	gap: $gap;
}

.main {
	&-header {
		background-color: #fff;
		height: 59px;
		padding: 0 24px;

		i {
			color: var(--grey-3);
			font-size: 25px;

			span {
				font-size: 10px;
				top: 30%;
			}
		}

		@include flexCustom($justify: space-between);

		.header-content {
			@include flexCustom($justify: flex-end, $gap: 30px);
		}

		.header-info {
			@include flexCustom($justify: space-between, $gap: 10px);
			position: relative;

			.user-img {
				position: relative;
				cursor: pointer;
			}

			img {
				width: 24px;
				height: 24px;
				border-radius: 50%;
			}

			p {
				font-family: "Inter", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
				color: #1c1c1c;
			}

			i {
				font-size: 10px;
				margin-left: 5px;
				cursor: pointer;
			}

			.setting-panel {
				padding: 10px 0px;

				.setting-panel-item {
					font-weight: 500;
					font-size: 13px;
					line-height: 20px;
					color: var(--black-2);
					margin: 8px 0;
					cursor: pointer;
				}
			}

			.line {
				position: absolute;
				top: 125px;
				left: 0;
				right: 0;
				height: 1px;
				background-color: var(--blue-4);
			}

			.icon-dropdown {
				height: 100%;
			}

			.dropdown {
				.dropdown-menu {
					position: absolute;
					top: 22px !important;
					left: 0;
					max-width: 148px;
					min-width: 0;
				}
			}
		}

		.company-select {
			display: flex;
			gap: 15px;
			align-items: center;

			&-title {
				font-family: "Poppins";
				font-size: 15px;
				font-weight: 500;
				text-transform: uppercase;
			}

			.ng-select {
				.ng-value-container,
				.ng-arrow-wrapper {
					padding: 0;
				}

				&.ng-select-focused {
					.ng-select-container {
						box-shadow: none;
					}
				}

				.ng-select-container {
					border-radius: 25px;
					background-color: $group-select-bg-color;
					border-color: $group-select-bg-color;
					padding: 0 14px;
					font-size: 14px;
					font-weight: 500;
					color: var(--black-2);
					text-transform: uppercase;

					.ng-placeholder {
						color: var(--black-2);
					}

					// .ng-arrow {
					// 	@extend .icon-arrow-left;
					// 	border: none;
					// 	font-family: "impl";
					// 	font-size: 0.8em;

					// 	&::before {
					// 		display: inline-block;
					// 		transform: rotate(-90deg);
					// 		transition: $layout-transition;
					// 	}
					// }
				}

				.ng-dropdown-panel {
					width: max-content;
					box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
					border-radius: 10px;
					border: none;

					&-items {
						padding: 20px 16px;
					}
					
					.scroll-host {
						&::-webkit-scrollbar-track {
							background-color: #FFF;
							margin: 16px 0px;
						}
				
						&::-webkit-scrollbar {
							width: 4px;
							background-color: transparent;
						}
				
						&::-webkit-scrollbar-thumb {
							border-radius: 10px;
							background-color: rgb(221, 213, 213);
							width: 5px;
						}
					}

					.ng-option {
						border-radius: 10px;
						font-weight: 500;
						text-transform: uppercase;

						&:hover,
						&.ng-option-selected {
							background-color: rgba(#1badf3, 0.1);
						}

						&.ng-option-marked:not(:hover):not(.ng-option-selected) {
							background-color: inherit;
						}
					}
				}

				&.ng-select-opened {
					.ng-arrow {
						inset: unset;

						&::before {
							transform: rotate(90deg);
						}
					}
				}
			}
		}
	}
}