$color-menu-title: var(--cyan-1);
$color-menu-item: var(--grey-4);
$color-main-content-bg: var(--grey-1);
$color-item-active: var(--orange-1);
$group-select-bg-color: var(--grey-8);
$menu-fullwidth: 296px;
$menu-collapse-width: 154px;
$layout-transition: all 0.4s ease-in-out;

@mixin flexCustom($direct: row, $justify: space-between, $gap: 0px) {
	display: flex;
	flex-direction: $direct;
	justify-content: $justify;
	align-items: center;
	gap: $gap;
}

.main {
	&-header {
		background-color: #fff;
		height: 59px;
		padding: 0 24px;

		i {
			color: var(--grey-3);
			font-size: 25px;

			span {
				font-size: 10px;
				top: 30%;
			}
		}

		@include flexCustom($justify: space-between);

		.header-content {
			@include flexCustom($justify: flex-end, $gap: 30px);
		}

		.header-info {
			@include flexCustom($justify: space-between, $gap: 10px);
			position: relative;

			.dropdown {
				.dropdown-menu {
					max-width: 200px;
				}
			}

			.user-img {
				position: relative;
				cursor: pointer;
			}

			img {
				width: 24px;
				height: 24px;
				border-radius: 50%;
			}

			p {
				font-family: "Inter", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
				color: #1c1c1c;
			}

			i {
				font-size: 10px;
				margin-left: 5px;
				cursor: pointer;
			}

			.setting-panel {
				padding: 10px 0px;

				.setting-panel-item {
					font-weight: 500;
					font-size: 13px;
					line-height: 20px;
					color: var(--black-2);
					margin: 8px 0;
					cursor: pointer;
				}
			}

			.line {
				position: absolute;
				top: 125px;
				left: 0;
				right: 0;
				height: 1px;
				background-color: var(--blue-4);
			}

			.icon-dropdown {
				height: 100%;
			}

			.dropdown {
				.dropdown-menu {
					position: absolute;
					top: 22px !important;
					left: 0;
					min-width: 0;

					li {
						cursor: pointer;
					}
				}
			}
		}

		.company-select {
			display: flex;
			gap: 15px;
			align-items: center;

			&-title {
				font-family: "Poppins";
				font-size: 15px;
				font-weight: 500;
				text-transform: uppercase;
			}

			.select-group {
				.select__control {
					background-color: var(--grey-8);
					border-color: var(--grey-8);
					border-radius: 25px;
				}

				.select__indicator-separator {
					display: none;
				}
				.select__menu {
					min-width: 140px;
				}
			}
		}
	}
}