html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Inter, "Helvetica Neue", sans-serif;
}

:root {
    --grey-1: #F5F5F5;
    --grey-2: #C4C4C4;
    --grey-3: #919499;
    --grey-4: #BDBDBD;

    --cyan-1: #298097;

    --orange-1: #F2AF34;
}