html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
}

:root {
  // white
  --white-1: #ffffff;
  // grey
  --grey-1: #f5f5f5;
  --grey-2: #c4c4c4;
  --grey-3: #919499;
  --grey-4: #bdbdbd;
  --grey-5: #bfbfbf;
  --grey-6: #f4f7fe;
  --grey-7: rgba(218, 226, 249, 0.2);
  --grey-8: #f8f8f8;
  // cyan
  --cyan-1: #298097;
  --cyan-2: #70a7d9;
  --cyan-3: #66b1d5;
  --cyan-4: #00ded1;
  // blue
  --blue-1: #3aabe1;
  --blue-2: #0085ff;
  --blue-3: #3ba3dd;
  --blue-4: #dae2f9;
  --blue-5: #1badf3;
  --blue-6: #0393fb;
  // red
  --red-1: #ff000d;
  --red-2: #c50000;
  // green
  --green-1: #34be8c;
  --green-2: #02a76c;
  --green-3: #e4f7e8;
  --green-4: #89b291;
  --green-5: #27ae60;
  // orange
  --orange-1: #f2af34;
  // yellow
  --yellow-1: #fcc22d;
  // black
  --black-1: #000000;
  --black-2: #242533;
}
